.footer {
    display: flex;
    padding: 6% 10.5%;
    justify-content: space-between;

    @media only screen and (min-width: 1000px) {
        align-items: center;
        grid-area: footer;
        margin-bottom: 6%;
        padding: 2% 8%;
        position: relative;
    }

    &__profile {
        column-gap: 1rem;
        display: grid;
        flex-basis: 70%;
        grid-template-areas: 
        "img name"
        "img date";
        grid-template-columns: 1fr 3fr;

        & img {
            align-self: center;
            border-radius: 50%;
            display: inline-block;
            grid-area: img;
            justify-self: center;
            width: 95%;

            @media only screen and (min-width: 1000px) {
                width: 65%;
            }
        }

        & h3 {
            grid-area: name;
        }

        & h4 {
            grid-area: date;
        }
    }

    &-active {
        display: grid;
        grid-area: footer;
        grid-template-areas: 
        "share fb twitter pinterest . arrow";
        grid-template-columns: repeat(6, 1fr);
        padding: 2rem 1.5rem;
    
        & > * {
            align-self: center;
            justify-self: center;
        }
    
        & h3 {
            grid-area: share;
        }
    
        & i {
            font-size: 2.2rem;
        }
    
        & .facebook {
            grid-area: fb;
        }
    
        & .twitter {
            grid-area: twitter;
        }
    
        & .pinterest {
            grid-area: pinterest;
        }
    
        & .arrow {
            grid-area: arrow;
        }

        &, &-desktop {
            background-color: $color-primary;
            color: $background-main-card;
        }

        &-desktop {
            border-radius: 1.2rem;
            box-shadow: 0 .2rem 1rem rgba($color-secondary, .3);
            column-gap: 1rem;
            display: grid;
            grid-area: footer;
            grid-template-areas: 
            "share fb twitter pinterest";
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;
            padding: 2rem 3.5rem;
            position: absolute;
            right: -19%;
            top: -130%;
            width: 60%;
        
            & i {
                font-size: 2rem;
            }
        }
    }

    &__share, &-active__share, &-active__arrow {
        align-items: center;
        background-color: rgba($background-body, .4);
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        flex-basis: 13%;
        height: 3.5rem;
        justify-content: center;
        max-width: 3.5rem;
        position: relative;
        width: 100%;

        & i {
            font-size: 2.2rem;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &-active__arrow {
        background-color: $color-secondary;
        color: $background-main-card;      
    }
}

.hide {
    display: none;
}