*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgba($background-body, .25);
    box-sizing: border-box;
}

.main-card {
    background-color: $background-main-card;
    border-radius: 1rem;
    box-shadow: 0 1.8rem 2rem rgba($color-primary, .25);
    left: 50%;
    max-width: 35rem;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 87%;

    @media only screen and (min-width: 1000px) {
        display: grid;
        grid-template-areas: 
        "img txt"
        "img footer";
        grid-template-columns: 1fr 1.5fr;
        max-width: 70rem;
        overflow: visible;
    }
}