body {
    color: $color-secondary;
    font-family: "Manrope", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
}


.heading {
    color: $color-primary;
    font-weight: 700;

    &-secondary {
        @extend .heading;
        font-size: 1.6rem;
        line-height: 1.6;

        @media only screen and (min-width: 700px) {
            font-size: 1.7rem;
        }
        @media only screen and (min-width: 1400px) {
            font-size: 2rem;
            line-height: 1.4;
        }
    }

    &-tertiary {
        @extend .heading;
        font-size: 1.4rem;

        &--active {
            @extend .heading;
            color: rgba($background-main-card, .65);
            font-size: 1.3rem;
            letter-spacing: .5rem;
            text-transform: uppercase;

            @media only screen and (min-width: 1000px) {
                font-weight: 500;
            }
        }
    }
}

.subheading-primary {
    color: rgba($color-secondary, .5);
}

.paragraph {
    line-height: 1.6;
}