*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(158, 175, 194, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-card {
  background-color: #fcfcfc;
  border-radius: 1rem;
  -webkit-box-shadow: 0 1.8rem 2rem rgba(72, 85, 106, 0.25);
          box-shadow: 0 1.8rem 2rem rgba(72, 85, 106, 0.25);
  left: 50%;
  max-width: 35rem;
  overflow: hidden;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 87%;
}

@media only screen and (min-width: 1000px) {
  .main-card {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "img txt" "img footer";
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
    max-width: 70rem;
    overflow: visible;
  }
}

body {
  color: #6d7f97;
  font-family: "Manrope", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
}

.heading, .heading-secondary, .heading-tertiary, .heading-tertiary--active {
  color: #48556a;
  font-weight: 700;
}

.heading-secondary {
  font-size: 1.6rem;
  line-height: 1.6;
}

@media only screen and (min-width: 700px) {
  .heading-secondary {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 1400px) {
  .heading-secondary {
    font-size: 2rem;
    line-height: 1.4;
  }
}

.heading-tertiary {
  font-size: 1.4rem;
}

.heading-tertiary--active {
  color: rgba(252, 252, 252, 0.65);
  font-size: 1.3rem;
  letter-spacing: .5rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 1000px) {
  .heading-tertiary--active {
    font-weight: 500;
  }
}

.subheading-primary {
  color: rgba(109, 127, 151, 0.5);
}

.paragraph {
  line-height: 1.6;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6% 10.5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 1000px) {
  .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-area: footer;
    margin-bottom: 6%;
    padding: 2% 8%;
    position: relative;
  }
}

.footer__profile {
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
      grid-template-areas: "img name" "img date";
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.footer__profile img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
  display: inline-block;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 95%;
}

@media only screen and (min-width: 1000px) {
  .footer__profile img {
    width: 65%;
  }
}

.footer__profile h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
}

.footer__profile h4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: date;
}

.footer-active {
  display: -ms-grid;
  display: grid;
  grid-area: footer;
      grid-template-areas: "share fb twitter pinterest . arrow";
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  padding: 2rem 1.5rem;
}

.footer-active > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.footer-active h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: share;
}

.footer-active i {
  font-size: 2.2rem;
}

.footer-active #facebook {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fb;
}

.footer-active #twitter {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: twitter;
}

.footer-active #pinterest {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: pinterest;
}

.footer-active #arrow {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: arrow;
}

.footer-active, .footer-active-desktop {
  background-color: #48556a;
  color: #fcfcfc;
}

.footer-active-desktop {
  border-radius: 1.2rem;
  -webkit-box-shadow: 0 0.2rem 1rem rgba(109, 127, 151, 0.3);
          box-shadow: 0 0.2rem 1rem rgba(109, 127, 151, 0.3);
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  display: -ms-grid;
  display: grid;
  grid-area: footer;
      grid-template-areas: "share fb twitter pinterest";
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 2rem 3.5rem;
  position: absolute;
  right: -19%;
  top: -130%;
  width: 60%;
}

.footer-active-desktop i {
  font-size: 2rem;
}

.footer__share, .footer-active__share, .footer-active__arrow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(158, 175, 194, 0.4);
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 13%;
      flex-basis: 13%;
  height: 3.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 3.5rem;
  position: relative;
  width: 100%;
}

.footer__share i, .footer-active__share i, .footer-active__arrow i {
  font-size: 2.2rem;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer-active__arrow {
  background-color: #6d7f97;
  color: #fcfcfc;
}

.hide {
  display: none;
}

.img-box {
  background-image: url(../images/drawers.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 21.5rem;
  overflow: hidden;
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  .img-box {
    background-position: left center;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: img;
    height: auto;
  }
}

.text-box {
  padding: 12% 10.5% 6% 10.5%;
}

@media only screen and (min-width: 415px) {
  .text-box {
    padding: 6% 10.5%;
  }
}

@media only screen and (min-width: 1000px) {
  .text-box {
    grid-area: txt;
    padding: 6% 8%;
    padding-bottom: 4%;
  }
}

.text-box__heading {
  margin-bottom: 1.8rem;
}
